<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login</title>

    <script>

        window.onload = function (){

            const form = document.formUser;

            form.onsubmit = function (e) {
                e.preventDefault();

                const uid = form.uid.value;
                const pass = form.pass.value;

                const jsonData = {
                    "uid" : uid,
                    "pass" : pass
                }

                fetch("/ch10/login", {
                    method: "POST",
                    headers: {"content-Type": "application/json"},
                    body: JSON.stringify(jsonData)
                })
                .then(response => {
                    if (!response.ok){
                        // 회원이 아닌 경우 예외 발생
                        throw new Error('NOT FOUND');
                    }
                    return response.json()
                })
                .then(data => {
                    console.log(data);
                    // 회원이 맞는 경우 access 토큰 저장

                    localStorage.setItem("grantType", data.grantType);
                    localStorage.setItem("accessToken", data.access);

                    location.href = "/ch10/user/list";
                })
                .catch((err) => {
                    console.log(err)
                    // 회원이 아니면
                    alert("아닌데");
                });
            }
        }

    </script>

</head>
<body>
    <h3>로그인</h3>

    <form action="#" name="formUser" method="post">

        <input type="text" name="uid"/><br>
        <input type="password" name="pass"/><br>
        <input type="submit" value="로그인"/><br>

    </form>
</body>
</html>