<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/userLayout}">
<!--
    - http://localhost:8080/sboard/user/findPasswordChange
    - 인증된 이메일과 아이디로 사용자 조회된 사용자 비밀번호 변경하기
-->
<div class="container" layout:fragment="content">

    <script>
        window.onload = function (){
            let isPassOk = false;
            const rePass  = /^(?=.*[a-zA-z])(?=.*[0-9])(?=.*[$`~!@$!%*#^?&\\(\\)\-_=+]).{5,16}$/;
            const form = document.formChangePassword;
            const inputPass2 = document.getElementById('inputPass2');
            const resultPass1 = document.getElementsByClassName('resultPass1')[0];
            const resultPass2 = document.getElementsByClassName('resultPass2')[0];
            // 비밀번호 유효성 검사
            inputPass2.addEventListener('focusout', function (){
                const pass   = form.pass;
                const pass2   = form.pass2;

                // 유효성 검사
                if (pass.value === pass2.value){
                    if (!pass.value.match(rePass)) {
                        pass.classList.remove('is-valid');
                        pass2.classList.remove('is-valid');
                        resultPass1.classList.remove('valid-feedback');
                        resultPass2.classList.remove('valid-feedback');
                        resultPass2.innerText = "";

                        pass.classList.add('is-invalid');
                        pass2.classList.add('is-invalid');
                        resultPass1.classList.add('invalid-feedback');
                        resultPass1.innerText = '비밀번호 형식이 알맞지 않습니다.';
                        isPassOk = false;
                    }else {
                        pass.classList.remove('is-invalid');
                        pass2.classList.remove('is-invalid');
                        resultPass1.classList.remove('invalid-feedback');
                        resultPass2.classList.remove('invalid-feedback');
                        resultPass1.innerText = "";

                        pass.classList.add('is-valid');
                        pass2.classList.add('is-valid');
                        resultPass2.classList.add('valid-feedback');
                        resultPass2.innerText = '사용 가능한 비밀번호 입니다.';
                        isPassOk = true;
                    }
                }else {
                    pass.classList.remove('is-valid');
                    pass2.classList.remove('is-valid');
                    resultPass1.classList.remove('valid-feedback');
                    resultPass2.classList.remove('valid-feedback');
                    resultPass1.innerText = "";

                    pass.classList.add('is-invalid');
                    pass2.classList.add('is-invalid');
                    resultPass2.classList.add('invalid-feedback');
                    resultPass2.innerText = '비밀번호가 일치하지 않습니다.';
                    isPassOk = false;
                }
            })
            // 다음 버튼
            const btnNext = document.getElementById('btnNext');

            btnNext.onclick = function (e){
                console.log(isPassOk);
                if (isPassOk) {
                    // 다음
                    form.submit();
                }else {
                    alert("비밀번호가 유효하지 않습니다.");
                    e.preventDefault();
                }
            }
        }
    </script>

    <div class="row justify-content-center">
        <div class="col-lg-6">
            <div class="card shadow-lg border-0 rounded-lg mt-5">
                <div class="card-header"><h3 class="text-center font-weight-light my-4">비밀번호 변경</h3></div>
                <div class="card-body">
                    <form th:action="@{/user/findPasswordChange}" name="formChangePassword" method="post">
                        <div class="form-floating mb-3">
                            <input class="form-control" type="text" id="inputUid" name="uid" readonly th:value="${user}"/>
                            <label for="inputUid">아이디</label>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-12 mb-3">
                                <div class="form-floating mb-3 mb-md-0">
                                    <input class="form-control" id="inputPass1" type="password" name="pass" placeholder="비밀번호 입력"/>
                                    <label for="inputPass1">비밀번호 입력</label>
                                </div>
                                <div class="resultPass1 d-block"></div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-floating mb-3 mb-md-0">
                                    <input class="form-control" id="inputPass2" type="password" name="pass2" placeholder="비밀번호 입력 확인"/>
                                    <label for="inputPass2">비밀번호 입력 확인</label>
                                </div>
                                <div class="resultPass2 d-block"></div>
                            </div>
                        </div>

                        <p class="small">
                            비밀번호를 변경해 주세요.<br>
                            영문, 숫자, 특수문자를 사용하여 8자 이상 입력해 주세요.
                        </p>
                    </form>
                </div>
                <div class="card-footer text-center py-3">
                    <div>
                        <a th:href="@{/user/login}" class="btn btn-secondary">취소</a>
                        <button class="btn btn-primary" id="btnNext">변경</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!-- container end -->
</html>