<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{/layout/defaultLayout.html}">
    <!--내용 시작-->
        <div class="container-fluid px-4" layout:fragment="content">
            <h1 class="mt-4">메인</h1>
            <ol class="breadcrumb mb-4">
                <li class="breadcrumb-item active">Dashboard</li>
            </ol>


            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-table me-1"></i>
                    DataTable Example
                </div>
                <div class="card-body">
                    <table id="datatablesSimple">

                    </table>
                </div>
            </div>
        </div>
    <!--내용 끝-->
</html>
